@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.custom-border {
    border-image-source: linear-gradient(
        to bottom,
        rgba(50, 138, 241, 0.22),
        rgba(99, 123, 255, 0)
    );
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff),
        linear-gradient(
            to bottom,
            rgba(50, 138, 241, 0.22),
            rgba(99, 123, 255, 0)
        );
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-color: transparent;
}

/* Vertical line to the left of the comments */
.comments-container::before {
    position: absolute;
    display: block;
    top: 0;
    left: 45px;
    content: "";
    width: 3px;
    height: 100%;
    background: #edf0f5;
    /* opacity: .07; */
}

.comment-container::before {
    position: absolute;
    top: 57px;
    content: "";
    width: 23px;
    height: 3px;
    background: #edf0f5;
    left: -40px;
    /* opacity: .07; */
}

.comment-container:last-child:after {
    position: absolute;
    display: block;
    top: 60px;
    left: -43px;
    content: "";
    width: 3px;
    height: calc(100% - 60px);
    background: theme("colors.gray-background");
}

.is-admin::before {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 38px;
    border: 7px solid white;
    box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, 0.08);
    left: -58px;
    background: theme("colors.purple");
    opacity: 1;
}
